Source: node-regjsgen
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Julien Puydt <jpuydt@debian.org>
Build-Depends: debhelper-compat (= 13), nodejs
Standards-Version: 4.6.0
Rules-Requires-Root: no
Homepage: https://github.com/demoneaux/regjsgen
Vcs-Git: https://salsa.debian.org/js-team/node-regjsgen.git
Vcs-Browser: https://salsa.debian.org/js-team/node-regjsgen

Package: node-regjsgen
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, nodejs
Description: Regular expression from abstract syntax trees in Node.js
 This module accepts an abstract syntax tree representing a regular expression
 (like the ones created by regjsparser, for example), and turns them into a
 regular expression string.
 .
 Node.js is an event-based server-side JavaScript engine.
